<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Consultar Ejemplares</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>   
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>

</head>

<body>

	<h1>Consultar Ejemplares</h1>
	
	<label>Ordenar por: </label><br/>
	<form action="/consultarEjemplar">
		<select name='ordenarE' required>
			<option value='OrdenarCiudadAcunacionAsc'>Ciudad de Acuñación Ascendente</option>
			<option value='OrdenarProveedorAsc'>Proveedor Ascendente</option>
			<option value='OrdenarModeloDesc'>Modelo Descendente</option>
			<option value='OrdenarAnoAcunacionAsc'>Año de Acuñación Ascendente</option>
			<option value='OrdenarFechaAdquisicionAsc'>Fecha de Adquisición Ascendente</option>	
			<option value='OrdenarEstadoConservacionDesc'>Estado de Conservación Descendente</option>	
			<option value='OrdenarEjemplaresDisponiblesDesc'>Ejemplares Disponibles Descendente</option>	
		</select>
		
		<input type='submit' value='Ordenar'/><br/>
	</form>	
	
	<form action="/consultarEjemplar">
		<p>Introduzca el numero de stock del Ejemplar que busca:</p>
		<input type='number' name='ejemplaresDisponiblesE'/>
		<input type='submit' value='Buscar'/>
	</form>
	
	<form action="/consultarEjemplar">
		<p>Introduzca el año de acuñación del Ejemplar que busca:</p>
		<input type='number' name='anoAcunacionE'/>
		<input type='submit' value='Buscar'/>
	</form>
	
	<form action="/consultarEjemplar">
		<p>Introduzca la ciudad de acuñación del Ejemplar que busca:</p>
		<input type='text' name='ciudadAcunacionE'/>
		<input type='submit' value='Buscar'/>
	</form>
	
	<form action="/consultarEjemplar">
		<p>Introduzca la fecha de adquisición del Ejemplar que busca:</p>
		<input type='date' name='fechaAdquisicionE'/>
		<input type='submit' value='Buscar'/>
	</form>
	
	<form action="/consultarEjemplar">
		<p>Introduzca el estado de conservacion del Ejemplar que busca:</p>
		<input type='text' name='estadoConservacionE'/>
		<input type='submit' value='Buscar'/>
	</form>
	
	<form action="/consultarEjemplar">
		<p>Introduzca el modelo del Ejemplar que busca:</p>
		<input type='text' name='modeloE'/>
		<input type='submit' value='Buscar'/>
	</form>
	
	<form action="/consultarEjemplar">
		<p>Introduzca el proveedor del Ejemplar que busca:</p>
		<input type='text' name='proveedorE'/>
		<input type='submit' value='Buscar'/>
	</form>
	
	<table border="1">
		<tr>
			<td>ID</td>
			<td>Ejemplares disponibles</td>
			<td>Año Acuñación</td>
			<td>Ciudad Acuñación</td>
			<td>Fecha de adquisición</td>
			<td>Estado de Conservación</td>
			<td>Modelo</td>
			<td>Proveedor</td>
			<td>Modificar</td>
		</tr>
		<th:block th:each="ejemplar : ${ejemplares}">
			<tr>
				<td><span th:text='${ejemplar.id_ejemplares}'></span></td>
				<td><span th:text="${ejemplar.ejemplaresDisponibles}"></span></td>
				<td><span th:text="${ejemplar.anoAcunacion}"></span></td>
				<td><span th:text="${ejemplar.ciudadAcunacion}"></span></td>
				<td><span th:text="${ejemplar.fechaAdquisicion}"></span></td>
				<td><span th:text="${ejemplar.estadoConservacion}"></span></td>
				<td><span th:text="${ejemplar.modelo}"></span></td>
				<td><span th:text="${ejemplar.proveedor}"></span></td>
				<td>
					<form th:value="${ejemplar.id_ejemplares}" th:action="@{'/modificarEjemplar/' + ${ejemplar.id_ejemplares}}">
						<div class="btn-group">
							<button class="button">Modificar</button>
						</div>
					</form>
				</td>
			</tr>
		</th:block>	
	</table>	

	<form action="/consultar" method="post">
		<div class="btn-group">
		  <button class="button">Volver</button>
		</div>
	</form>

</body>

</html>