<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Consultar Modelos</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>   
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    
</head>

<body>

	<h1>Consultar Modelos</h1>
	
	<label>Ordenar por: </label><br/>
	<form action="/consultarModelo">
		<select name='ordenarM' required>
			<option value='OrdenarNombresAsc'>Nombres Ascendente</option>
			<option value='OrdenarValorFacialAsc'>Valor Facial Descendente</option>
			<option value='OrdenarUnidadAsc'>Unidad Ascendente</option>
			<option value='OrdenarDiametroAsc'>Diametro Ascendente</option>
			<option value='OrdenarPesoDesc'>Peso Descendente</option>
			<option value='OrdenarMetalDesc'>Metal Descendente</option>
			<option value='OrdenarDescripcionDesc'>Descripción Descendente</option>	
		</select>
		
		<input type='submit' value='Ordenar'/><br/>
	</form>
	
	<form action="/consultarModelo">
		<p>Introduzca el nombre de un Modelo:</p>
		<input type='text' name='nombreM'/>
		<input type='submit' value='Buscar'/>
	</form>	
		
	<form action="/consultarModelo">
		<p>Introduzca el valor facial de un Modelo:</p>
		<input type='number' step=".01" name='valorFacialM'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<form action="/consultarModelo">
		<p>Introduzca la unidad de un Modelo:</p>
		<input type='text' name='unidadM'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<form action="/consultarModelo">
		<p>Introduzca el diámetro de un Modelo:</p>
		<input type='number' step=".01" name='diametroM'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<form action="/consultarModelo">
		<p>Introduzca el peso de un Modelo:</p>
		<input type='number' step=".01" name='pesoM'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<form action="/consultarModelo">
		<p>Introduzca el metal de un Modelo:</p>
		<input type='text' name='metalM'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<form action="/consultarModelo">
		<p>Introduzca la descripción de un Modelo:</p>
		<input type='text' name='descripcionM'/>
		<input type='submit' value='Buscar'/>
	</form>							

	<table border="1">
		<tr>
			<td>ID</td>
			<td>Nombre</td>
			<td>Valor Facial</td>
			<td>Unidad</td>
			<td>Diametro</td>
			<td>Peso</td>
			<td>Metal</td>
			
			<td>Descripcion</td>
			<td>Modificar</td>
		</tr>
		<th:block th:each="modelos : ${modelos}">
			<tr>
				<td><span th:text="${modelos.id_modelos}"></span></td>
				<td><span th:text="${modelos.nombre}"></span></td>
				<td><span th:text="${modelos.valorFacial}"></span></td> 
				<td><span th:text="${modelos.unidad}"></span></td> 
				<td><span th:text="${modelos.diametro}"></span></td> 
				<td><span th:text="${modelos.peso}"></span></td> 
				<td><span th:text="${modelos.metal}"></span></td> 
				<td><span th:text="${modelos.descripcion}"></span></td>
				<td>
					<form th:value="${modelos.id_modelos}" action="/modificarModelo">
						<div class="btn-group">
							<button class="button">Modificar</button>
						</div>
					</form>
				</td>
			</tr>
		</th:block>	
	</table>
	
	<form action="/consultar" method="post">
		<div class="btn-group">
		  <button class="button">Volver</button>
		</div>
	</form>

</body>

</html>