<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Consultar Modelos</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>   
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    
</head>

<body>

	<h1>Consultar Modelos</h1>
	
	<form action="/consultarModelo">
		<p>Introduzca el nombre de un Modelo:</p>
		<input type='text' name='nombreM'/>
		<input type='submit' value='Buscar'/>
	</form>		
	
	<h6 th:each="modelo : ${modelos}">
		<span th:text="'ID:' + ${modelos.id_modelos}"></span> <br/>
		<span th:text="'Nombre:' + ${modelos.nombre}"></span> <br/> 
		<span th:text="'Valor Facial:' + ${modelos.valorFacial}"></span> <br/>
		<span th:text="'Unidad:' + ${modelos.unidad}"></span> <br/>
		<span th:text="'Diametro:' + ${modelos.diametro}"></span> <br/>
		<span th:text="'Peso:' + ${modelos.peso}"></span> <br/>
		<span th:text="'Metal:' + ${modelos.metal}"></span> <br/>
		<span th:text="'Descripcion:' + ${modelos.descripcion}"></span> <br/>
	</h6>
	
	<form action="/consultar" method="post">
		<div class="btn-group">
		  <button class="button">Volver</button>
		</div>
	</form>

</body>

</html>