<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Consultar Proveedor</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>   
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    
</head>

<body>

	<h1>Consultar Proveedor</h1>
	
	<form action="/consultarProveedor">
		<p>Introduzca el cif de un Proveedor:</p>
		<input type='text' name='cifP'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<form action="/consultarProveedor">
		<p>Introduzca el nombre de un Proveedor:</p>
		<input type='text' name='nombreP'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<form action="/consultarProveedor">
		<p>Introduzca el Código Postal de un Proveedor:</p>
		<input type='number' name='cpP'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<form action="/consultarProveedor">
		<p>Introduzca el email de un Proveedor:</p>
		<input type='email' name='mailP'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<form action="/consultarProveedor">
		<p>Introduzca el número de teléfono de un Proveedor:</p>
		<input type='tel' name='tlfP'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<table border="1">
		<tr>
			<td>CIF</td>
			<td>Nombre</td>
			<td>CP</td>
			<td>Mail</td>
			<td>Telefono</td>
			<td>Modificar</td>
		</tr>
		<th:block th:each="proveedor : ${proveedor}">
			<tr>
				<td><span th:text="${proveedor.cif}"></span></td>
				<td><span th:text="${proveedor.nombre}"></span></td>
				<td><span th:text="${proveedor.cp}"></span></td> 
				<td><span th:text="${proveedor.mail}"></span></td> 
				<td><span th:text="${proveedor.tlf}"></span></td> 
				<td>
					<form name="cif" th:value="${proveedor.cif}" action="/modificarProveedor" method="get">
						<div class="btn-group">
							<button class="button">Modificar</button>
						</div>
					</form>
				</td>
			</tr>
		</th:block>	
	</table>
		
	<form action="/consultar" method="post">
		<div class="btn-group">
		  <button class="button">Volver</button>
		</div>
	</form>

</body>
</html>