<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Consultar Ejemplares</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>   
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    
</head>

<body>

	<h1>Consultar Ejemplares</h1>
		
	<form action="/consultarEjemplar">
		<p>Introduzca un numero de Ejemplares:</p>
		<input type='text' name='numEjemplares'/>
		<input type='submit' value='Buscar'/>
	</form>
	
	<h6 th:each="ejemplar : ${ejemplares}">
		<span th:text="'ID:' + ${ejemplares.id_ejemplares}" ></span> <br/>
		<span th:text="'Ejemplares disponibles:' + ${ejemplares.ejemplaresDisponibles}" ></span> <br/>
		<span th:text="'Año Acuñación:' + ${ejemplares.anoAcunacion}" ></span> <br/>
		<span th:text="'Ciudad Acuñación:' + ${ejemplares.ciudadAcunacion}" ></span> <br/>
		<span th:text="'Fecha de adquisición:' + ${ejemplares.fechaAdquisicion}" ></span> <br/>
		<span th:text="'Estado de Conservación:' + ${ejemplares.estadoConservacion}" ></span> <br/>
		<span th:text="'Modelo:' + ${ejemplares.modelo}" ></span> <br/> 
		<span th:text="'Proveedor:' + ${ejemplares.proveedor}" ></span> <br/>
	</h6>
	
	<form action="/consultar" method="post">
		<div class="btn-group">
		  <button class="button">Volver</button>
		</div>
	</form>

</body>

</html>