<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Consultar</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>   
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    
</head>

<body>

	<h1>Consultar</h1>
	
	<form action="/consultarProveedor" method="post">
		<div class="btn-group">
		  <button class="button">Proveedor</button>
		</div>
	</form>
	
	<form action="/consultarModelo" method="post">
		<div class="btn-group">
		  <button class="button">Modelo</button>
		</div>
	</form>
	
	<form action="/consultarEjemplar" method="post">
		<div class="btn-group">
		  <button class="button">Ejemplar</button>
		</div>
	</form>
	
	<form action="/home" method="post">
		<div class="btn-group">
		  <button class="button">Volver</button>
		</div>
	</form>	

</body>

</html>