<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Consultar Proveedor</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>   
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    
</head>

<body>

	<h1>Consultar Proveedor</h1>
	
	<label>Ordenar por: </label><br/>
	<form action="/consultarProveedor">
		<select name='ordenarP' required>
			<option value='OrdenarNombresAsc'>Nombres Ascendente</option>
			<option value='OrdenarNombresDesc'>Nombres Descendente</option>
			<option value='OrdenarCifAsc'>Cif Ascendente</option>
			<option value='OrdenarCpDesc'>CP Descendente</option>
			<option value='OrdenarTlfAsc'>Teléfono Ascendente</option>	
		</select>
		
		<input type='submit' value='Ordenar'/><br/>
	</form>
	
	
	<form action="/consultarProveedor">
		<label>Introduzca el cif de un Proveedor:</label><br/>
		<input type='text' name='cifP'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<form action="/consultarProveedor">
		<label>Introduzca el nombre de un Proveedor:</label><br/>
		<input type='text' name='nombreP'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<form action="/consultarProveedor">
		<label>Introduzca el Código Postal de un Proveedor:</label><br/>
		<input type='number' name='cpP'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<form action="/consultarProveedor">
		<label>Introduzca el email de un Proveedor:</label><br/>
		<input type='email' name='mailP'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<form action="/consultarProveedor">
		<label>Introduzca el número de teléfono de un Proveedor:</label><br/>
		<input type='tel' name='tlfP'/>
		<input type='submit' value='Buscar'/>
	</form>	
	
	<table border="1">
		<tr>
			<td>CIF</td>
			<td>Nombre</td>
			<td>CP</td>
			<td>Mail</td>
			<td>Telefono</td>
			<td>Modificar</td>
		</tr>
		<th:block th:each="prod : ${proveedor}">
			<tr>
				<td><span th:text="${prod.cif}"></span></td>
				<td><span th:text="${prod.nombre}"></span></td>
				<td><span th:text="${prod.cp}"></span></td>
				<td><span th:text="${prod.mail}"></span></td>
				<td><span th:text="${prod.tlf}"></span></td>
				<td>
					<form name="cif" th:value="${prod.cif}" th:action="@{'/modificarProveedor/' + ${prod.cif}}" method="get">
						
						<div class="btn-group">
							<button class="button">Modificar</button>
						</div>
					</form>
				</td>
			</tr>
		</th:block>	
	</table>

	<form action="/consultar" method="post">
		<div class="btn-group">
		  <button class="button">Volver</button>
		</div>
	</form>

</body>
</html>