<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://localhost:8080/home">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Museo Numismatica</title>

    <!-- link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/-->

</head>

<body>

	<div>
    	<h1>Museo GonMir</h1>
        <h2>
            <span th:text="Mininaaaa"></span>
        </h2>
    </div>
    
</body>
</html>
