<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	
	<title>Museo Numismática</title>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>   
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
     
</head>

<body>
    
    <div>
        <h1>Museo Numismatica</h1>
        
		<p>Se debe poder añadir, modificar y consultar en la base de Datos ya lista.</p>
	</div>

    	<form action="/home" method="post">
		<div class="btn-group">
		  <button class="button">HOME</button>
		</div>
	</form>
    
</body>

</html>
