<html>
<head>
<meta charset="UTF-8" />
</head>
<body>

	<h1>Insertar Proveedor</h1>

	<form action="/insertar" method="post">
		<p>
			<b>CIF:</b> <input type='text' name='cif' />
		</p>

		<p>
			<b>Nombre:</b> <input type='text' name='nombre' />
		</p>
		<p>
			<b>Código postal:</b> <input type='text' name='cp' />
		</p>
		<p>
			<b>Correo electrónico:</b> <input type='text' name='mail' />
		</p>
		<p>
			<b>Teléfono:</b> <input type='text' name='tlf' />
		</p>
		<input type='submit' name='insertar' value='Insertar' />
	</form>
</body>
</html>