<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Insertar Proveedor</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>   
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    
</head>

<body>

	<h1>Insertar Proveedor</h1>

	<form action="/insertar" method="post">
		<p>
			<b>CIF:</b> <input type='text' name='cif' />
		</p>

		<p>
			<b>Nombre:</b> <input type='text' name='nombre' />
		</p>
		<p>
			<b>Código postal:</b> <input type='text' name='cp' />
		</p>
		<p>
			<b>Correo electrónico:</b> <input type='text' name='mail' />
		</p>
		<p>
			<b>Teléfono:</b> <input type='text' name='tlf' />
		</p>
		<input type='submit' name='insertar' value='Insertar' />
	</form>
	
</body>

</html>

