<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Insertar Modelo</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>   
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    
</head>

<body>

	<h1>Insertar Modelo</h1>

	<form action="/insertar" method="post">
		<label for="nombre">Nombre: </label>
			<input type='text' name='nombre' placeholder='Nombre' required/><br/>
		<label for="valorFacial">Valor Facial: </label>
			<input type='number' name='valorFacial' placeholder='Valor facial' required/><br/>
		<label for="unidad">Unidad: </label>
			<input type='text' name='unidad' placeholder='Unidad: €, $, céntimo ...' required/><br/>
		<label for="diametro">Diámetro: </label>
			<input type='number' name='diametro' placeholder='Diámetro'/><br/>
		<label for="peso">Peso: </label>
			<input type='number' name='peso' placeholder='Peso'/><br/>
		<label for="metal">Metal: </label>
			<input type='text' name='metal' placeholder='Metal'/><br/>
		<label for="descripcion">Descripción: </label></br>
			<input type='text' name='descripcion' size='120' placeholder='Introduzca una descripción ....'/><br/>
		<input type='submit' name='insertar' value='Insertar' />
	</form>
	
</body>

</html>

