<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Modificar Modelo</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>   
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    
</head>

<body>

	<h1>Modificar Modelo</h1>
	
	<h4>Rellena los campos que deseas modificar</h4>
	<form th:action="@{'/modificarModelo/' + ${modelo.id_modelos}}" th:method="put">
	
		<label for="nombre">Nombre: </label>
			<input th:value="${modelo.nombre}" type='text' name='nombre' placeholder='Nombre'/><br/>
			
		<label for="valorFacial">Valor Facial: </label>
			<input th:value="${modelo.valorFacial}" type='number' step=".01" name='valorFacial' placeholder='Valor facial'/><br/>
			
		<label for="unidad">Unidad: </label>
			<input th:value="${modelo.unidad}" type='text' name='unidad' placeholder='Unidad: €, $, céntimo ...'/><br/>
			
		<label for="diametro">Diámetro: </label>
			<input th:value="${modelo.diametro}" type='number' step=".01" name='diametro' placeholder='Diámetro'/><br/>
			
		<label for="peso">Peso: </label>
			<input th:value="${modelo.peso}" type='number' step=".01" name='peso' placeholder='Peso'/><br/>
			
		<label for="metal">Metal: </label>
			<input th:value="${modelo.metal}" type='text' name='metal' placeholder='Metal'/><br/>
			
		<label for="descripcion">Descripción: </label>
			<input th:value="${modelo.descripcion}" type='text' name='descripcion' size='120' placeholder='Introduzca una descripción ....'/><br/>
			
		<input type='submit' name='modificar' value='Modificar' />
		
	</form>
	 
	<p>Pulse Aceptar cuando haya terminado de modificar el ejemplar: </p>
	<form action="/consultarModelo" method="post">
		<div class="btn-group">
		  <button class="button">Aceptar</button>
		</div>
	</form>


</body>

</html>
