<html xmlns:th="http://www.thymeleaf.org">

 <link rel="stylesheet" type="text/css" href="main.css"/>
<body>

	<h1>Modificar Modelo</h1>
	
	<p>Rellena los campos que deseas modificar</p>
	<form action="/modificar" method="post">
		<p>
			<b>Nombre:</b> <input type='text' name='nombre' />
		</p>
		<p>
			<b>Valor Facial:</b> <input type='text' name='valorFacial' />
		</p>
		<p>
			<b>Unidad:</b> <input type='text' name='unidad' />
		</p>
		<p>
			<b>Diámetro:</b> <input type='text' name='diametro' />
		</p>
		<p>
			<b>Peso:</b> <input type='text' name='peso' />
		</p>
		<p>
			<b>Metal:</b> <input type='text' name='metal' />
		</p>
		<p>
			<b>Descripción:</b><br />
			<textarea name='descripcion' rows='5' cols='40'></textarea>
		</p>
		<input type='submit' name='modificar' value='Modificar' />
	</form>

</body>
</html>