<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Modificar Ejemplar</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>   
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    
</head>

<body>

	<h1>Modificar Ejemplar</h1>
	
	<h4>Rellena los campos que deseas modificar</h4>
	<form th:action="@{'/modificarEjemplar/' + ${ejemplar.id_ejemplares}}" th:method="put">
	
		<label for="ejemplaresDisponibles">Ejemplares disponibles:</label>
			<input th:value="${ejemplar.ejemplaresDisponibles}" type='number' name='ejemplaresDisponibles' placeholder='Numero de ejemplares disponibles' min='0'><br/>
			
		<label for="anoAcunacion">Año de acuñación: </label>
			<input th:value="${ejemplar.anoAcunacion}"  type='number' name='anoAcunacion' placeholder='Año de acuñación' max='2019'/><br/>
			
		<label for="ciudadAcunacion">Ciudad de acuñación: </label>
			<input th:value="${ejemplar.ciudadAcunacion}" type='text' name='ciudadAcunacion' placeholder='Ciudad acuñación'/><br/>
			
		<label for="fechaAdquisicion">Fecha de adquisición: </label>
			<input th:value="${ejemplar.fechaAdquisicion}" type='date' name='fechaAdquisicion'/><br/>
			
		<label for="estadoConservacion">Estado de conservación: </label>
			<select th:value="${ejemplar.estadoConservacion}" name='estadoConservacion'>
				<option value='Bueno'>Bueno</option>
				<option value='Normal'>Normal</option>
				<option value='Malo'>Malo</option>
			</select><br/>		
		
		<label for="modelo">Modelos: </label>
		
			<select name="modelo" required>
				<option th:each="modelo : ${modelos}" th:value='${modelo.nombre}' th:text='${modelo.nombre}' th:selected='false'/>
			</select><br/>
			
		<label for="proveedor">Proveedor: </label>
		
			<select name="proveedor">
				<option th:each="proveedor : ${proveedores}" th:value="${proveedor.nombre}" th:text="${proveedor.nombre}"></option>
			</select><br/>
			
		<input type='submit' name='modificar' value='Modificar'/><br/>
				
	</form>
	
	<p>Pulse Modificar cuando haya terminado de modificar el ejemplar: </p>
	<form action="/consultarEjemplar" method="post">
		<div class="btn-group">
		  <button class="button">Cancelar</button>
		</div>
	</form>

</body>

</html>
