<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Modificar Proveedor</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>   
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    
</head>

<body>

	<h1>Modificar Proveedor</h1>

	<h4>Rellena los campos que deseas modificar</h4>
	<form th:action="@{'/modificarProveedor/' + ${proveedor.cif}}" th:method="put">
	
		<label for="cif">CIF: </label>
			<input disabled th:value="${proveedor.cif}" type='text' name='cif' pattern='^[a-zA-Z]{1}\d{7}[a-zA-Z0-9]{1}$' placeholder='CIF'/><br/>
			
		<label for="nombre">Nombre: </label>
			<input th:value="${proveedor.nombre}" type='text' name='nombre' placeholder='Nombre'/><br/>
			
		<label for="cp">Código postal: </label>
			<input th:value="${proveedor.cp}" type='number' name='cp'  placeholder='Código postal' min='01000' max='52080'/><br/>
			
		<label for="mail">Correo electrónico: </label>
			<input th:value="${proveedor.mail}" type='email' name='mail' pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" placeholder='email@email.com'/><br/>
			
		<label for="tlf">Teléfono: </label>
			<input th:value="${proveedor.tlf}" type='tel' name='tlf' pattern='^(\+34|0034|34)?[6|7|8|9][0-9]{8}$' placeholder='+34123456789 o 123456789'/><br/>
			
		<input type='submit' name='modificar' value='Modificar' />
		
	</form>
	
	<p>Pulse Modificar cuando haya terminado de modificar el proveedor: </p>
	<form action="/consultarProveedor" method="post">
		<div class="btn-group">
		  <button class="button">Cancelar</button>
		</div>
	</form>

</body>

</html>
